<c-row class="mb-4 g-4">
  <c-col sm="6" lg="3">
    <c-widget-stat-a color="primary" title="Faturamento do mês">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>R$ 12.345,67</span>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" lg="3">
    <c-widget-stat-a color="info" title="Faturamento da Semana">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>R$ 3.456,78</span>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" lg="3">
    <c-widget-stat-a color="warning" title="Faturamento do dia">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>R$ 567,89</span>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" lg="3">
    <c-widget-stat-a color="danger" title="Faturamento Acumulado Ano">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>R$ 123.456,78</span>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
</c-row>

<c-card class="my-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0">Faturamento Anual</h4>
        <div class="small text-body-secondary">Mês a Mês</div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <form>
          <c-row class="float-end">
            <c-col class="col-auto">
              <select class="form-select" aria-label="Filtro Mês">
                <option selected>Mês</option>
                <option value="1">Janeiro</option>
                <option value="2">Fevereiro</option>
                <option value="3">Março</option>
                <option value="4">Abril</option>
                <option value="5">Maio</option>
                <option value="6">Junho</option>
                <option value="7">Julho</option>
                <option value="8">Agosto</option>
                <option value="9">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
              </select>
            </c-col>
            <c-col class="col-auto">
              <select class="form-select" aria-label="Filtro Ano">
                <option selected>Ano</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
              </select>
            </c-col>
          </c-row>
        </form>
      </c-col>
    </c-row>
    <c-chart
      [data]="mainChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 40 }"
      [options]="mainChart.options"
      type="bar"
    >
      Gráfico Barras Vertical, faturamento Anual, mês a mês
    </c-chart>
  </c-card-body>
</c-card>

<c-row>
  <c-col md="6">
    <c-card class="mb-4">
      <c-card-header>
        Indicadores
      </c-card-header>
      <c-card-body>
        <c-chart
          type="bar"
          [data]="indicadoresChart.data"
          [options]="indicadoresChart.options"
        >
          Gráfico Barras Horizontal, Indicantes 2 Barras (a Pagar, A receber)
        </c-chart>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col md="6">
    <c-card class="mb-4">
      <c-card-header>
        Taxa de Cartão
      </c-card-header>
      <c-card-body>
        <c-chart
          type="bar"
          [data]="taxaCartaoChart.data"
          [options]="taxaCartaoChart.options"
        >
          Gráfico Barras, Taxa de cartão mês a mês
        </c-chart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>