<c-row>
  <c-col>
    <c-card>
      <c-card-header>
        Lista de Financeiros
      </c-card-header>
      <c-card-body>
        <button cButton color="primary" [routerLink]="['/financeiros/novo']">Novo Registro Financeiro</button>
        <table cTable class="mt-3">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Ticket</th>
              <th scope="col">Médico</th>
              <th scope="col">Parcela Referência</th>
              <th scope="col">Total de Parcelas</th>
              <th scope="col">Valor Parcela</th>
              <th scope="col">Valor Total</th>
              <th scope="col">Recebido</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let financeiro of financeiros">
              <th scope="row">{{ financeiro.id }}</th>
              <td>{{ financeiro.ticketId }}</td>
              <td>{{ financeiro.medicoNome }}</td>
              <td>{{ financeiro.parcela }}</td>            
              <td>{{ financeiro.totalParcelas }}</td>
              <td>{{ financeiro.valorParcela | currency:'BRL' }}</td>
              <td>{{ financeiro.valor | currency:'BRL' }}</td>
              <td>
                <c-badge [color]="financeiro.recebido ? 'success' : 'danger'">
                  {{ financeiro.recebido ? 'Sim' : 'Não' }}
                </c-badge>
              </td>
              <td>
                <button cButton color="secondary" size="sm" [routerLink]="['/financeiros/editar', financeiro.id]">Editar</button>
                <button cButton color="danger" size="sm" class="ms-1" (click)="excluirFinanceiro(financeiro.id)">Excluir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
