<c-row>
  <c-col>
    <c-card>
      <c-card-header>
        {{ isEditMode ? 'Editar Forma de Pagamento' : 'Nova Forma de Pagamento' }}
      </c-card-header>
      <c-card-body>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label cLabel for="descricao">Descrição</label>
            <input cFormControl id="descricao" formControlName="descricao" />
          </div>
          <div class="mb-3">
            <label cLabel for="idParcelamento">ID Parcelamento</label>
            <input cFormControl id="idParcelamento" formControlName="idParcelamento" type="number" />
          </div>
          <button cButton color="primary" type="submit" [disabled]="form.invalid">Salvar</button>
          <button cButton color="secondary" class="ms-1" (click)="cancelar()">Cancelar</button>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
