<c-row>
  <c-col>
    <c-card>
      <c-card-header>
        {{ isEditMode ? 'Editar Forma de Pagamento' : 'Nova Forma de Pagamento' }}
      </c-card-header>
      <c-card-body>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label cLabel for="nome">Nome</label>
            <select cSelect id="nome" formControlName="nome">
              <option *ngFor="let nome of nomeFormaPagamentoKeys" [value]="nome">{{ NomeFormaPagamento[nome] }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label cLabel for="descricao">Descrição</label>
            <input cFormControl id="descricao" formControlName="descricao" />
          </div>
          <div class="mb-3">
            <label cLabel for="idParcelamento">Parcelamento</label>
            <select cSelect id="idParcelamento" formControlName="idParcelamento">
              <option *ngFor="let parcelamento of parcelamentos" [value]="parcelamento.id">{{ parcelamento.descricao }} - {{ parcelamento.numeroDeParcelas }} Parcelas</option>
            </select>
          </div>
          <button cButton color="primary" type="submit" [disabled]="form.invalid">Salvar</button>
          <button cButton color="secondary" class="ms-1" (click)="cancelar()">Cancelar</button>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
