<div class="animated fadeIn">
  <c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>{{ isEditMode ? 'Editar Empresa' : 'Nova Empresa' }}</strong>
        </c-card-header>
        <c-card-body>
          <form [formGroup]="empresaForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label cLabel for="cnpj">CNPJ</label>
              <input cFormControl id="cnpj" formControlName="cnpj" type="text">
            </div>
            <div class="mb-3">
              <label cLabel for="razaoSocial">Razão Social</label>
              <input cFormControl id="razaoSocial" formControlName="razaoSocial">
            </div>
            <div class="mb-3">
              <label cLabel for="idContratoCartao">Contrato Cartão</label>
              <input cFormControl id="idContratoCartao" formControlName="idContratoCartao" type="number">
            </div>
            <div class="mb-3">
              <label cLabel for="contador">Contador</label>
              <select cSelect id="contador" formControlName="contador">
                <option *ngFor="let contador of contadores" [value]="contador.id">{{ contador.nome }}</option>
              </select>
            </div>

            <button cButton color="primary" type="submit" [disabled]="empresaForm.invalid">Salvar</button>
            <button cButton color="secondary" [routerLink]="['/empresas']">Cancelar</button>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
